@import '../../styles/variables.scss';

.articleNewPageContainer {
  padding-top: 20px;

  :global {
    .form-wrapper {
      width: 900px;
    }

    .ant-form-item-label {
      width: 100px;

      label {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}